@model IEnumerable<RGPatients.Models.Medication>

@{
    ViewData["Title"] = "Medication for " + ViewBag.MTName;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Din)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concentration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcentrationCodeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DispensingCodeNavigation)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.MedicationType)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Din)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concentration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConcentrationCodeNavigation.ConcentrationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DispensingCodeNavigation.DispensingCode)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.MedicationType.MedicationTypeId)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Din">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Din">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Din">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
