@model IEnumerable<RGPatients.Models.PatientDiagnosis>

@{
    ViewData["Title"] = "Patients Diagnosis";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Patient Name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
           
          
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Patient.LastName), @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                    <a asp-controller="RGPatientTreatment" 
                    asp-action="Index" 
                    asp-route-PatientDiagnosisId="@item.PatientDiagnosisId" 
                    asp-route-PatientName="@item.Patient.LastName, @item.Patient.FirstName"
                   asp-route-DiagnosisName="@item.Diagnosis.Name"> @Html.DisplayFor(modelItem => item.Diagnosis.Name) </a>
            </td>               
             <td>
                    @Html.DisplayFor(modelItem => item.Comments)
             </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientDiagnosisId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientDiagnosisId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientDiagnosisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
